.Form {
    display: flex;     
    width: 40%;
    margin: auto; 
    justify-content: center;
    align-items: center;
}

.Forminner {
    text-align: center;
}
.FormEmpy {
    display: flex;
    height: 80vh;    
   
    margin: auto; 
    justify-content: center;
    align-items: center;
}